
@font-face {
    font-family: 'alanis_handregular';
    src: url('alanis-hand.regular-webfont.woff2') format('woff2'),
         url('alanis-hand.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
	width: 100%;
	height: 100%;
	color: #f8432b;
}

body {
	color: black;
}

h2 {
	color:  #f8432b;
}

main {
	height: 100%;
}

.nav-link, .navbar-brand {
	color: white;
	margin-right: 35px;
}

.navbar-brand:hover {
	color: #f8432b;
}

.nav-link:hover {
	background-color: #f8432b;
	color: white;
	border-radius: 5px;
}

.redmenu {
	background-color: white;
	border-color: #f8432b;
	color:  #f8432b;
}

.btn:hover {
	background-color: white;
	color: #E85144;
	border: 1px solid #f8432b;
	border-radius: 5px;
}

.btn {
	background-color: #f8432b;
	color: white; 	 
}

.emoticaMain {
	color: white;
	background-color: white;
	background-image: url('../img/crowd.gif');
	background-size: 100% auto;
	background-position: top; 
	border-bottom: 1px solid #f8432b;
	height: 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#navbarTopEmotica {
	color: #f8432b;
	font-size: large;
}

#editor {
        width: 100%;
        height: 100%;
}

#emotions {
	color: white;
	font-size: 20px;
}

#emoticaBig {
	font-family: "alanis_handregular";
	font-size: 165px;
	color: #f8432b;
	height: 130px;
}

#emoticaSide {
	display: none;
	position: fixed;
	left: 35px;
	top: 50px;
	font-family: "alanis_handregular";
	font-size: 55px;
	color: #f8432b;
	text-align: right;
}

#emoticaSide a {
	color: #f8432b;
}

#emoticaSide a:hover {
	color: #f8432b;
	text-decoration: none;
}

#emoticaBrand {
	left: 75px;
	margin-left: 0;
	position: absolute;
}

#copyEmo {
	float: right;
}

#social {
	width: 300px;
	float: left;
	color: #f8432b;
}

#social a {
	color: #f8432b;
}

.footer {
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
	background-color: white;
	color: #f8432b;
	max-width: 100%;    
}

#canvas {background:url(http://i.imgur.com/5RIXWIE.png)}

#about, #coaching, #contact {
	padding-top: 75px;
	margin-bottom: 20px;
	max-width: 720px;
	padding-left: 35px;
	padding-right: 35px;
}

#foto {
	display: block;
	margin: 0 auto;
}

#mainText {
	text-align: right;
	color: grey ;
	margin-right: 50px;
}
	

.contactLink {
	color: #f8432b;
}

.contactLink:hover {
	color: #f8432b;
	text-decoration: none;
}

.fa-angle-up {
	font-size: 35px;
}